################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Auth.Backend/.vs/Auth.Backend/FileContentIndex/b5a3b1db-73c5-4845-b4d8-92e26a04a77a.vsidx
