################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Auth.Backend/.vs/Auth.Backend/FileContentIndex/b5a3b1db-73c5-4845-b4d8-92e26a04a77a.vsidx
/Auth.Backend/.vs/Auth.Backend/FileContentIndex
/Auth.Backend/Auth.Identity/obj/Debug/net8.0/Auth.Identity.AssemblyInfo.cs
/Auth.Backend/Auth.Identity/obj/Debug/net8.0/Auth.Identity.AssemblyInfoInputs.cache
/Auth.Backend/Auth.Identity/obj/Debug/net8.0/Auth.Identity.csproj.AssemblyReference.cache
/Auth.Backend/.vs/Auth.Backend/DesignTimeBuild/.dtbcache.v2
/Auth.Backend/.vs/Auth.Backend/v17/.suo
/Auth.Backend/.vs/Auth.Backend/v17/.suo
/Auth.Backend/Auth.Domain/obj/Debug/net8.0/Auth.Domain.AssemblyInfo.cs
/Auth.Backend/Auth.Domain/obj/Debug/net8.0/Auth.Domain.AssemblyInfoInputs.cache
/Auth.Backend/.vs/Auth.Backend/v17/DocumentLayout.backup.json
/Auth.Backend/.vs/Auth.Backend/v17/DocumentLayout.json
/Auth.Backend/Auth.Application/bin/Debug/net8.0/Auth.Application.dll
/Auth.Backend/Auth.Application/bin/Debug/net8.0/Auth.Application.pdb
/Auth.Backend/Auth.Application/bin/Debug/net8.0/Auth.Domain.pdb
/Auth.Backend/Auth.Application/bin/Debug/net8.0/Auth.Domain.dll
/Auth.Backend/Auth.Application/obj/Debug/net8.0/ref/Auth.Application.dll
/Auth.Backend/Auth.Application/obj/Debug/net8.0/refint/Auth.Application.dll
/Auth.Backend/Auth.Application/obj/Debug/net8.0/Auth.Application.AssemblyInfo.cs
/Auth.Backend/Auth.Application/obj/Debug/net8.0/Auth.Application.AssemblyInfoInputs.cache
/Auth.Backend/Auth.Application/obj/Debug/net8.0/Auth.Application.csproj.AssemblyReference.cache
/Auth.Backend/Auth.Application/obj/Debug/net8.0/Auth.Application.pdb
/Auth.Backend/Auth.Application/obj/Debug/net8.0/Auth.Application.dll
/Auth.Backend/Auth.Application/obj/Debug/net8.0/Auth.Application.sourcelink.json
/Auth.Backend/Auth.Domain/bin/Debug/net8.0/Auth.Domain.dll
/Auth.Backend/Auth.Domain/bin/Debug/net8.0/Auth.Domain.pdb
/Auth.Backend/Auth.Domain/obj/Debug/net8.0/ref/Auth.Domain.dll
/Auth.Backend/Auth.Domain/obj/Debug/net8.0/refint/Auth.Domain.dll
/Auth.Backend/Auth.Domain/obj/Debug/net8.0/Auth.Domain.dll
/Auth.Backend/Auth.Domain/obj/Debug/net8.0/Auth.Domain.pdb
/Auth.Backend/Auth.Domain/obj/Debug/net8.0/Auth.Domain.sourcelink.json
/Auth.Backend/Auth.Identity/bin/Debug/net8.0/Auth.Application.dll
/Auth.Backend/Auth.Identity/bin/Debug/net8.0/Auth.Application.pdb
/Auth.Backend/Auth.Identity/bin/Debug/net8.0/Auth.Domain.dll
/Auth.Backend/Auth.Identity/bin/Debug/net8.0/Auth.Identity.dll
/Auth.Backend/Auth.Identity/bin/Debug/net8.0/Auth.Domain.pdb
/Auth.Backend/Auth.Identity/bin/Debug/net8.0/Auth.Identity.pdb
/Auth.Backend/Auth.Identity/obj/Debug/net8.0/ref/Auth.Identity.dll
/Auth.Backend/Auth.Identity/obj/Debug/net8.0/refint/Auth.Identity.dll
/Auth.Backend/Auth.Identity/obj/Debug/net8.0/Auth.Identity.dll
/Auth.Backend/Auth.Identity/obj/Debug/net8.0/Auth.Identity.pdb
/Auth.Backend/Auth.Identity/obj/Debug/net8.0/Auth.Identity.sourcelink.json
/Auth.Backend/Auth.Persistance/bin/Debug/net8.0/Auth.Application.dll
/Auth.Backend/Auth.Persistance/bin/Debug/net8.0/Auth.Application.pdb
/Auth.Backend/Auth.Persistance/bin/Debug/net8.0/Auth.Domain.dll
/Auth.Backend/Auth.Persistance/bin/Debug/net8.0/Auth.Domain.pdb
/Auth.Backend/Auth.Persistance/bin/Debug/net8.0/Auth.Persistance.dll
/Auth.Backend/Auth.Persistance/bin/Debug/net8.0/Auth.Persistance.pdb
/Auth.Backend/Auth.Persistance/obj/Debug/net8.0/ref/Auth.Persistance.dll
/Auth.Backend/Auth.Persistance/obj/Debug/net8.0/refint/Auth.Persistance.dll
/Auth.Backend/Auth.Persistance/obj/Debug/net8.0/Auth.Persistance.AssemblyInfo.cs
/Auth.Backend/Auth.Persistance/obj/Debug/net8.0/Auth.Persistance.AssemblyInfoInputs.cache
/Auth.Backend/Auth.Persistance/obj/Debug/net8.0/Auth.Persistance.csproj.AssemblyReference.cache
/Auth.Backend/Auth.Persistance/obj/Debug/net8.0/Auth.Persistance.dll
/Auth.Backend/Auth.Persistance/obj/Debug/net8.0/Auth.Persistance.pdb
/Auth.Backend/Auth.Persistance/obj/Debug/net8.0/Auth.Persistance.sourcelink.json
/Auth.Backend/Auth.Shared/bin/Debug/net8.0/Auth.Application.dll
/Auth.Backend/Auth.Shared/bin/Debug/net8.0/Auth.Application.pdb
/Auth.Backend/Auth.Shared/bin/Debug/net8.0/Auth.Domain.dll
/Auth.Backend/Auth.Shared/bin/Debug/net8.0/Auth.Domain.pdb
/Auth.Backend/Auth.Shared/bin/Debug/net8.0/Auth.Shared.dll
/Auth.Backend/Auth.Shared/bin/Debug/net8.0/Auth.Shared.pdb
/Auth.Backend/Auth.Shared/obj/Debug/net8.0/Auth.Shared.AssemblyInfo.cs
/Auth.Backend/Auth.Shared/obj/Debug/net8.0/Auth.Shared.AssemblyInfoInputs.cache
/Auth.Backend/Auth.Shared/obj/Debug/net8.0/Auth.Shared.csproj.AssemblyReference.cache
/Auth.Backend/Auth.Shared/obj/Debug/net8.0/Auth.Shared.dll
/Auth.Backend/Auth.Shared/obj/Debug/net8.0/Auth.Shared.pdb
/Auth.Backend/Auth.Shared/obj/Debug/net8.0/Auth.Shared.sourcelink.json
/Auth.Backend/Auth.Shared/obj/Debug/net8.0/ref/Auth.Shared.dll
/Auth.Backend/Auth.Shared/obj/Debug/net8.0/refint/Auth.Shared.dll
/Auth.Backend/Auth.Tests/bin/Debug/net8.0/Auth.Application.dll
/Auth.Backend/Auth.Tests/bin/Debug/net8.0/Auth.Application.pdb
/Auth.Backend/Auth.Tests/bin/Debug/net8.0/Auth.Domain.dll
/Auth.Backend/Auth.Tests/bin/Debug/net8.0/Auth.Domain.pdb
/Auth.Backend/Auth.Tests/bin/Debug/net8.0/Auth.Identity.dll
/Auth.Backend/Auth.Tests/bin/Debug/net8.0/Auth.Identity.pdb
/Auth.Backend/Auth.Tests/bin/Debug/net8.0/Auth.Persistance.dll
/Auth.Backend/Auth.Tests/bin/Debug/net8.0/Auth.Persistance.pdb
/Auth.Backend/Auth.Tests/bin/Debug/net8.0/Auth.WebAPI.dll
/Auth.Backend/Auth.Tests/bin/Debug/net8.0/Auth.WebAPI.exe
/Auth.Backend/Auth.Tests/bin/Debug/net8.0/Auth.WebAPI.pdb
/Auth.Backend/Auth.Tests/bin/Debug/net8.0/Auth.WebAPI.Tests.dll
/Auth.Backend/Auth.Tests/bin/Debug/net8.0/Auth.WebAPI.Tests.pdb
/Auth.Backend/Auth.Tests/obj/Debug/net8.0/Auth.WebAPI.Tests.AssemblyInfo.cs
/Auth.Backend/Auth.Tests/obj/Debug/net8.0/Auth.WebAPI.Tests.AssemblyInfoInputs.cache
/Auth.Backend/Auth.Tests/obj/Debug/net8.0/Auth.WebAPI.Tests.csproj.AssemblyReference.cache
/Auth.Backend/Auth.Tests/obj/Debug/net8.0/Auth.WebAPI.Tests.dll
/Auth.Backend/Auth.Tests/obj/Debug/net8.0/Auth.WebAPI.Tests.pdb
/Auth.Backend/Auth.Tests/obj/Debug/net8.0/Auth.WebAPI.Tests.sourcelink.json
/Auth.Backend/Auth.Tests/obj/Debug/net8.0/ref/Auth.WebAPI.Tests.dll
/Auth.Backend/Auth.Tests/obj/Debug/net8.0/refint/Auth.WebAPI.Tests.dll
/Auth.Backend/Auth.WebAPI/bin/Debug/net8.0/Auth.Application.dll
/Auth.Backend/Auth.WebAPI/bin/Debug/net8.0/Auth.Application.pdb
/Auth.Backend/Auth.WebAPI/bin/Debug/net8.0/Auth.Domain.dll
/Auth.Backend/Auth.WebAPI/bin/Debug/net8.0/Auth.Domain.pdb
/Auth.Backend/Auth.WebAPI/bin/Debug/net8.0/Auth.Identity.dll
/Auth.Backend/Auth.WebAPI/bin/Debug/net8.0/Auth.Identity.pdb
/Auth.Backend/Auth.WebAPI/bin/Debug/net8.0/Auth.Persistance.dll
/Auth.Backend/Auth.WebAPI/bin/Debug/net8.0/Auth.Persistance.pdb
/Auth.Backend/Auth.WebAPI/bin/Debug/net8.0/Auth.WebAPI.dll
/Auth.Backend/Auth.WebAPI/bin/Debug/net8.0/Auth.WebAPI.exe
/Auth.Backend/Auth.WebAPI/bin/Debug/net8.0/Auth.WebAPI.pdb
/Auth.Backend/Auth.WebAPI/obj/Debug/net8.0/apphost.exe
/Auth.Backend/Auth.WebAPI/obj/Debug/net8.0/Auth.WebAPI.AssemblyInfo.cs
/Auth.Backend/Auth.WebAPI/obj/Debug/net8.0/Auth.WebAPI.AssemblyInfoInputs.cache
/Auth.Backend/Auth.WebAPI/obj/Debug/net8.0/Auth.WebAPI.csproj.AssemblyReference.cache
/Auth.Backend/Auth.WebAPI/obj/Debug/net8.0/Auth.WebAPI.dll
/Auth.Backend/Auth.WebAPI/obj/Debug/net8.0/Auth.WebAPI.pdb
/Auth.Backend/Auth.WebAPI/obj/Debug/net8.0/Auth.WebAPI.sourcelink.json
/Auth.Backend/Auth.WebAPI/obj/Debug/net8.0/ref/Auth.WebAPI.dll
/Auth.Backend/Auth.WebAPI/obj/Debug/net8.0/refint/Auth.WebAPI.dll
/Auth.Backend/.vs/Auth.Backend/v17/.futdcache.v2
/Auth.Backend/Auth.Domain/obj/Debug/net8.0/Auth.Domain.GeneratedMSBuildEditorConfig.editorconfig
